
/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Bernoru';
  src: url('../public/fonts/bernoru-blackultraexpanded.otf') format('opentype');
  }
@font-face {
  font-family: 'Garet';
  src: url('../public/fonts/Garet-Book.otf') format('opentype');
  }


.home_body {
  background-image: url("../public/docs/design/Backgrounds/BlueBackHome.svg");
  background-size: cover;
  background-position: center;
  min-height: 92vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3.5rem;
  position: relative;
}

.home_content {
  width: 40%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
 }

 .home_body h1 {
  font-family: 'Bernoru', sans-serif;
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #FFC544;
  line-height: 1;
}

.home_body p {
  font-family: 'Garet', sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: white;
}

.home_body button {
  background-color: #05a552;
  color: white;
  border: none;
  padding: 1rem 3.5rem;
  border-radius: 1.8rem;
  font-family: 'Garet', sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}

.home_body button:hover {
  background-color: #14b5a7;
}


footer {
  background: rgba(0, 180, 216, 0.33);
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}